
@using ANRTournament.Models
@model Player
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Hello from Home View Template!</p>
<div>Player: @Model.LastName, @Model.FirstName</div>
<div>Match Points: @Model.MatchPoints</div>
<div>Corp: @Model.Corp</div>
<div>Runner: @Model.Runner</div>